.set-color{
    background-color: #5cb85c;
    width: 824.67;
    height: 150px;
}
.z{
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
}
.text{
    text-shadow: 0 1px 3px  rgba(0,0,0,.3);
    font-weight: 700!important;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: .5rem;
    color: #ffffff;
}
.page-link{
margin-left:0px;
border-bottom-left-radius: 0.25rem;
border-top-left-radius: 0.25rem;
}

.page-link:focus,.page-link:hover{
color: #3d8b3d;
background-color: #eceeef;
border-color: #ddd;
}

.pagination{
display: inline-block;
padding-left: 0px;
margin-top:1rem;
margin-bottom:1rem;
border-radius:.25rem;
}
.page-item{
display:inline;
} 
 
