<div *ngIf="!registerForm.valid && signUpClicked" class="alert alert-danger">
    <div *ngIf="!email.valid">
      email invalid
    </div>
  </div>
<div class="row">
    <div class="col-sm-3">
     
    </div>
    <div class="col-sm-6">
    <h1 class="text-sm-center">Sign up</h1>
    <form [formGroup]="registerForm" (ngSubmit)="saveUser()">
        <input type="text" formControlName="userName" placeholder="Username"
         name="email" class="form-control my-3 p-4">
      <input type="text" formControlName="email" name="email" class="form-control my-3 p-4" placeholder="Email">
      <input type="password" formControlName="password" name="password" class="form-control my-3 p-4" placeholder="Password">
      <div class="d-flex justify-content-end">
        <input type="submit" value="Sign in" class="btn btn-dark">
      </div>
    </form>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
  
